
body {
  background-color: $bright_blue;
}

#site {
  @include container;
  @include box-shadow(#333,1px,1px,5px);
  background-color: #eee;
  margin-top: 1em;
  padding-top: 0em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

header[role=banner] {
  @include full;
  @include clearfix;
  padding-top: 1em;

  #logo {
  @include columns(2);

    img {
    }
  }

  nav {
    @include columns(10);
    @include clearfix;
    margin-top: 1.5em;
    
    ul {
      @include full;
      @include no-style-list;
      @include clearfix;
      
      li {
        display: block;
        height: auto;
        width: auto;
        float: left;
        
        &.session_management {
          float: right;
          
          a {
            color: $green;
            padding: .25em 1em;
            margin-right: 0;
          }
        }
        
        a {
          diplay: block;
          text-align: center;
          width: 100%;
          padding: .25em 1.5em;
          margin-right: .5em;
          text-decoration: none;
          color: $periwinkle;
          text-transform: lowercase;
          @include text-shadow;
          @include border-radius(5px);
          
          &:hover {
            @include box-shadow(#ccc,1px,1px,5px);
          }
        }
      }
    }
  }
}

div.flash {
  @include full;
  padding: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  @include text-shadow(#999, 0px, -1px, 0px);
  
  &.alert {
    @include linear-gradient(color-stops(#fff, #c33));
    @include box-shadow(#ccc,1px,1px,5px);
    @include border-radius(5px);
    color: #fff;
  }
  &.notice {
    @include linear-gradient(color-stops(#fff, $green));
    @include box-shadow(#ccc,1px,1px,5px);
    @include border-radius(5px);
    color: #fff;
  }
}


#main {
  clear: both;
  @include columns(8);
  @include alpha;
}

aside {
  @include columns(4);
  @include omega;
  font-size: .9em;
}

footer {
  @include full;
  margin-top: 1em;
  p {
    text-align: center;
    font-size: .75em;
    margin: 0em;
    padding: .25em;
  }
}