<h1>Burlington Web Application Group</h1>
<p>Celebrating beer, the cloud, geeky talk and the death of the desktop app in the spirit of a barcamp.</p>       

<% if @upcoming_event %>
  <h2>Upcoming Event: <%= @upcoming_event.name %></h2>

  <%= "#{@upcoming_event.date.to_s(:short)}" %>

  <div class="description">
    <%= @upcoming_event.description %>
  </div>
<% end %>

<% if @previous_event %>
  <h2>Last Event: <%= @previous_event.name %></h2>

<% end %>


<% content_for :aside do %>
  <h2>What b.wag Is</h2>
  
  <ul>
    <li>For enjoying beer</li>
  </ul>
  
  <h2>What b.wag Isn't</h2>
  
  <ul>
    <li>For marketing folks</li>
  </ul>
<% end %>
